In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('vacuum_reviews.db')

In [ ]:
df1 = pd.read_csv('preprocessed_vacuum_reviews.csv')
df2 = pd.read_csv('vacuum_reviews.csv')

In [ ]:
df1.to_sql('preprocessed_vacuum_reviews', conn, if_exists='replace', index=False)
df2.to_sql('vacuum_reviews', conn, if_exists='replace', index=False)

10

# Vacuum Reviews

In [ ]:
#Count the number of reviews in the dataset
query = "SELECT COUNT(*) AS num_reviews FROM vacuum_reviews;"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   num_reviews
0           10

In [ ]:
#Count the number of reviews for each star rating
query = "SELECT `Star Rating`, COUNT(*) AS num_reviews FROM vacuum_reviews GROUP BY `Star Rating`;"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   Star Rating  num_reviews
0          3.0            1
1          4.0            9

In [ ]:
#Show the number of reviews for each location, sorted by the number of reviews:
query = "SELECT `Location`, COUNT(*) AS num_reviews FROM vacuum_reviews GROUP BY `Location` ORDER BY num_reviews DESC;"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

        Location  num_reviews
0  United States           10

In [ ]:
#Show the average star rating for reviews written in 2022:
query = "SELECT AVG(`Star Rating`) AS avg_rating FROM vacuum_reviews ;"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   avg_rating
0         3.9

# Preprocessed Vacuum Reviews

In [ ]:
# run a SQL query to view the data in the vacuum_reviews table
query = 'SELECT * FROM vacuum_reviews'
df = pd.read_sql(query, conn)
# print the dataframe
print(df.head())

             Reviewer Name  Star Rating               Date       Location  \
0           Lydia Martinez          4.0  February 20, 2023  United States
1                   Ohukno          4.0      June 18, 2021  United States
2                Nicole N.          4.0      March 3, 2023  United States
3  Jacquelyn B. VINE VOICE          4.0   January 18, 2023  United States
4           Liz Curruchich          4.0   January 16, 2023  United States

                                               Title  \
0                                             Yes x3
1                        Good device with some flaws
2                          Great for quick clean ups
3  nice accessories for a car, but I prefer a mor...
4                 Works great with powerful suction!

                                      Review Content
0  I was so skeptical at the time i opened it n s...
1  I wish I would've taken a before and after pic...
2  This little vacuum is better than I expected i...
3  Color: BlackVerified Purchase\nThis is a cute ...
4  The vacuum worked great! Husband and I took a ...

In [ ]:
query = 'SELECT * FROM vacuum_reviews WHERE [Star rating] = 3.0'
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   Reviewer Name  Star Rating              Date       Location  \
0  cynthia perez          3.0  January 16, 2023  United States

                                               Title  \
0  Good for what it's worth...suction could be be...

                                      Review Content
0  I received this as a Xmas gift, which I really...

In [ ]:
#Count the number of reviews in the dataset
query = 'SELECT COUNT(*) AS num_reviews FROM preprocessed_vacuum_reviews'
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   num_reviews
0          100

In [ ]:
#Count the number of reviews for each star rating
query = 'SELECT `Star rating`, COUNT(*) AS num_reviews FROM preprocessed_vacuum_reviews GROUP BY `Star rating`;'
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   Star Rating  num_reviews
0          3.0            5
1          4.0           66
2          5.0           29

In [ ]:
Show the top 10 most common words in the lemmatized tokens column
query = 'SELECT [lemmatized_tokens], COUNT(*) AS count FROM preprocessed_vacuum_reviews GROUP BY [lemmatized_tokens] ORDER BY count DESC LIMIT 10;'
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

                                   lemmatized_tokens  count
0  ['worked', 'perfectly', 'new', 'car', 'cleaned...      1
1         ['work', 'well', 'store', 'nicely', 'car']      1
2  ['work', 'pretty', 'well', 'minor', 'pick', 'u...      1
3  ['work', 'okay', 'paid', 'pick', 'big', 'thing...      1
4  ['work', 'great', 'deep', 'cleaning', 'definit...      1
5  ['work', 'better', 'commercial', 'vacuum', 're...      1
6  ['work', 'amazing', 'car', 'extra', 'attachmen...      1
7  ['wont', 'suck', 'auto', 'floor', 'husband', '...      1
8  ['wish', 'wouldve', 'taken', 'picture', 'youll...      1
9  ['wish', 'little', 'suction', 'power', 'great'...      1

In [ ]:
#get the most frequent words used in the lemmatized tokens column, sorted by frequency:
query = "SELECT `lemmatized_tokens`, COUNT(*) AS freq FROM preprocessed_vacuum_reviews GROUP BY `lemmatized_tokens` ORDER BY freq DESC;"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

                                    lemmatized_tokens  freq
0   ['worked', 'perfectly', 'new', 'car', 'cleaned...     1
1          ['work', 'well', 'store', 'nicely', 'car']     1
2   ['work', 'pretty', 'well', 'minor', 'pick', 'u...     1
3   ['work', 'okay', 'paid', 'pick', 'big', 'thing...     1
4   ['work', 'great', 'deep', 'cleaning', 'definit...     1
..                                                ...   ...
95  ['bought', 'gift', 'daughter', 'said', 'ok', '...     1
96  ['attachment', 'need', 'good', 'suction', 'str...     1
97  ['appreciate', 'car', 'plug', 'option', 'im', ...     1
98  ['always', 'trunk', 'child', 'always', 'eat', ...     1
99  ['although', 'isnt', 'strongest', 'suctioning'...     1

[100 rows x 2 columns]

In [ ]:
#count the number of reviews that have a star rating greater than or equal to 4 and contain the words "work" and "great" in the title:
query = "SELECT COUNT(*) FROM preprocessed_vacuum_reviews WHERE `Star Rating` >= 4 AND `Title` LIKE '%work%' AND `Title` LIKE '%great%';"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   COUNT(*)
0         5

In [ ]:
#Show the average star rating for reviews with the word "suction" in the lemmatized tokens column
query = "SELECT AVG(`Star rating`) AS avg_rating FROM preprocessed_vacuum_reviews WHERE `lemmatized_tokens` LIKE '%suction%'"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   avg_rating
0    4.023256

In [ ]:
#Show the average star rating for reviews with the word "suction" in the lemmatized tokens column
query = "SELECT AVG(`Star rating`) AS avg_rating FROM preprocessed_vacuum_reviews WHERE `lemmatized_tokens` LIKE '%power%'"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   avg_rating
0    4.222222

In [ ]:
#count the number of reviews that have a star rating of 4 and contain the word "perfect" in the title:
query = "SELECT COUNT(*) FROM preprocessed_vacuum_reviews WHERE `Star rating` = 4 AND `Title` LIKE '%perfect%';"
df = pd.read_sql(query, conn)
# print the dataframe
print(df)

   COUNT(*)
0         3

# Merge tables

In [ ]:
#Inner Join - the rows where there is a match in both tables
query = "SELECT vr.`Star Rating`, pv.`Title`, vr.`Reviewer Name`, vr.`Date`, vr.`Location` \
FROM vacuum_reviews AS vr \
INNER JOIN preprocessed_vacuum_reviews AS pv \
ON vr.`Star Rating` = pv.`Star rating`;"

df = pd.read_sql(query, conn)
print(df)

     Star Rating                                              Title  \
0            4.0  Arrived in good condition and is surprisingly ...
1            4.0                                            Awesome
2            4.0                      Beautiful but not that strong
3            4.0                                         Car Vacuum
4            4.0  Cleaning the filter frequently during long ses...
..           ...                                                ...
594          4.0                           Worth the money for sure
595          4.0                                             Yes x3
596          4.0                             great on the go vacuum
597          4.0  nice accessories for a car, but I prefer a mor...
598          4.0                                                 ok

      Reviewer Name               Date       Location
0    Lydia Martinez  February 20, 2023  United States
1    Lydia Martinez  February 20, 2023  United States
2    Lydia Martinez  February 20, 2023  United States
3    Lydia Martinez  February 20, 2023  United States
4    Lydia Martinez  February 20, 2023  United States
..              ...                ...            ...
594  Leslie Morales     March 13, 2023  United States
595  Leslie Morales     March 13, 2023  United States
596  Leslie Morales     March 13, 2023  United States
597  Leslie Morales     March 13, 2023  United States
598  Leslie Morales     March 13, 2023  United States

[599 rows x 5 columns]